# .env should be in folder /env or configure the folder in conftest.py -> _env_file
BASE_URL=https://testomat.io
BASE_DOMAIN=testomat.io
BASE_APP_URL=https://app.testomat.io
SIGN_IN_URL=https://app.testomat.io/users/sign_in
EMAIL=e-mail@mail.com
PASSWORD=pass12345
GENERAL_API_TOKEN=testomat_ToKeN

# Browser-Engines ("chromium","firefox", "webkit")
BROWSERS=["chromium"]
# Optional: Channel for chromium Browser (chrome OR msedge (Microsoft Edge))
#BROWSER_CHANNEL=chrome
#BROWSER_CHANNEL=msedge